---
import { getCollection, type CollectionEntry } from 'astro:content'
import Layout from '../../layouts/PageLayout.astro'
import PagesNavbar from '../../components/docs/PagesNavbar.astro'

export async function getStaticPaths() {
  const posts = await getCollection('docs')
  return posts.map(post => {
    return {
      params: { slug: post.slug },
      props: { post },
    }
  })
}

export interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
const { Content } = await post.render()
---
<Layout title={post.data.title}>
  <div class="flex">
    <!-- サイドバー -->
    <div class="hidden md:block">
      <PagesNavbar slug={post.slug} />
    </div>
    <!-- ページ -->
    <div class="mx-5">
      <div class="markdown">
        <Content />
      </div>
      <hr />
      <div>
        <div>
          <div>最終更新日: {post.data.updated.toISOString()}</div>
        </div>
        <div>
          <a href={`https://github.com/LINEOpen/line-docs/edit/main/src/content/docs/${post.id}`}>GitHubで編集</a>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style is:global>
.markdown h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.markdown h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.markdown h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.markdown h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.markdown h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.markdown h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
</style>
