---
import { getEntry } from 'astro:content'

export interface Props {
  class?: string
  slug: string
}

const { slug } = Astro.props

const treeSlug = slug.split('/')
---
<div class={Astro.props.class}>
  <div class="p-4">
    <div>
      <div>同階層のページ</div>
      <div>

      </div>
    </div>
    <div>
      <div>上位ページ</div>
      <div>
        {
          await Promise.all(['index',
            ...treeSlug
              .map((_, index) => treeSlug.slice(0, index + 1).join('/'))
          ].map(async slug => {
            const entry = await getEntry('docs', slug)
            console.log(slug, entry)
            return <div class="my-1">
              <a href={`${import.meta.env.BASE_URL}docs/${slug}`}>
                { entry.data.titoe }
              </a>
            </div>
          }))
        }
      </div>
    </div>
  </div>
</div>