---
import { getEntry, getCollection } from 'astro:content'

export interface Props {
  class?: string
  slug: string
}

const { slug } = Astro.props

const treeSlug = slug.split('/')

const upperSlugs = [
  'index',
  ...treeSlug.map((_, index) => treeSlug.slice(0, index + 1).join('/')).slice(0, -1)
]
const oneUpSlug = upperSlugs.at(-1)

const isSameLevelRegExpString = `^${(oneUpSlug === 'index' ? '' : oneUpSlug).replaceAll('/', '\\/')}`

const isSameLevelRegExp = new RegExp(isSameLevelRegExpString)

console.log(isSameLevelRegExp, slug)
---
<div class={Astro.props.class}>
  <div class="p-4">
    <div>
      <div class="text-lg font-bold">同階層のページ</div>
      <div class="ml-2">
        {
          (await getCollection('docs'))
            .filter(post => {
              return isSameLevelRegExp.test(post.slug)
            })
            .map(post => {
              return <div class="my-1">
                {post.data.title}
              </div>
            })
        }
      </div>
    </div>
    <div>
      <div class="text-lg font-bold">上位ページ</div>
      <div class="ml-2">
        {
          await Promise.all(
            upperSlugs.map(async slug => {
              const entry = await getEntry('docs', slug)
              return <div class="my-1">
                <a href={`${import.meta.env.BASE_URL}docs/${slug}`}>
                  { entry.data.title }
                </a>
              </div>
            })
          )
        }
      </div>
    </div>
  </div>
</div>