---
import { getCollection,CollectionEntry } from 'astro:content'

const posts = await getCollection('docs')

export interface Props {
  class?: string
}

---
<div class={Astro.props.class}>
  <div class="p-4">
    {
      docs.map(page => page.slug)
    }
  </div>
</div>