---
import { getEntry } from 'astro:content'

export interface Props {
  class?: string
  slug: string
}

const { slug } = Astro.props

const treeSlug = slug.split('/')
---
<div class={Astro.props.class}>
  <div class="p-4">
    <div>
      <div>上位ページ</div>
      {treeSlug.join('.')}
      <div>
        {
          ['index', ...(await Promise.all(treeSlug.map(async (_, index) => {
            const slug = treeSlug.slice(0, index + 1).join('/')
            return slug
          })))].map(slug => {
            const entry = await getEntry('docs', path)
            return <div>
              <a href={`${import.meta.env.BASE_URL}docs/${slug}`}>
                { entry.data.titoe }
              </a>
            </div>
          })
        }
      </div>
    </div>
  </div>
</div>