---
import { getEntry } from 'astro:content'

export interface Props {
  class?: string
  slug: string
}

const { slug } = Astro.props

const treeSlug = slug.split('/')
---
<div class={Astro.props.class}>
  <div class="p-4">
    <div>
      <div>上位ページ</div>
      {treeSlug.join('.')}
      <div>
        {
          await Promise.all(treeSlug.map(async (_, index) => {

            //const entry = await getEntry('docs', upPath)
            
            return <div>
              <div>
                Path: {treeSlug.slice(0, index + 1).join('/')}
              </div>
              <div>
                Index: {index}
              </div>
            </div>
          }))
        }
      </div>
    </div>
  </div>
</div>