---
import Layout from '../layouts/PageLayout.astro'
import Card from '../components/Card.astro'
---
<Layout title="LINE Internal Docs">
  <div>
    <div class="mx-5">
      <div>
        <div class="text-2xl">LINE Internal Docs</div>
        <div>LINE Internal Docsは、LINEの技術的な内部情報に関する情報保管プロジェクトです。</div>
      </div>
      <div>
        <a href="./docs/index">Open Docs</a>
      </div>
    </div>
  </div>
</Layout>