<header class="sticky top-0 left-0">
  <div class='flex justify-between items-center px-5'>
    <div>
      <a href={import.meta.env.BASE_URL} class="text-xl">
        LINE Docs
      </a>
    </div>
    <div>
      <a href={import.meta.env.BASE_URL + 'docs/index'}>Docs</a>
    </div>
  </div>
</header>
